version: 2
updates:
- package-ecosystem: pip
  directory: "/src"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  allow:
    # Allow both direct and indirect updates for all packages
    - dependency-type: "all"
