---
layout: splash
permalink: /
title: "artisan"
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/teaser.jpg
  show_overlay_title: false
  caption: #'doubleshot'
excerpt: 'v3.2.0{::nomarkdown}<iframe style="display: inline-block;"  frameborder="0" scrolling="0" width="60px" height="120px"></iframe>{:/nomarkdown}'
feature_row:
  - image_path: /assets/images/sliders.png
    alt: "Automation"
    title: "<span style='color: #4C97C3;'>Automation</span>"
    excerpt: "Control and replay your roast using sliders, alarms, and PID"
    url: "/about"
    btn_label: "Learn More"
    btn_class: "btn--info btn--small"
  - image_path: /assets/images/wheel.png
    alt: "Support"
    title: "<span style='color: #4C97C3;'>Support</span>"
    excerpt: "[200+ Machines](/machines), [50+ Devices](/devices), 30+ Languages, [4 Operating Systems](/about/#platforms)"
    url: "/about"
    btn_label: "Learn More"
    btn_class: "btn--info btn--small"
  - image_path: /assets/images/plus-square.svg
    alt: "Inventory Management"
    title: "<span style='color: #4C97C3;'>Inventory Management</span>"
    excerpt: "professional production support & business reporting by [<span style='color: #4C97C3; font-weight:bold;'>artisan.plus</span>](https://artisan.plus){:target='_blank'}" 
    url: "/about"
    btn_label: "Learn More"
    btn_class: "btn--info btn--small"
intro:
  - excerpt: '[<span style="color: #4C97C3;">sign up for <b>artisan.plus</b></span>](https://artisan.plus/en/register) <span style="color: #4C97C3;">
<BR><BR>[Install Now](/download/){: .btn .btn--success .btn--large} &ensp; [Guide](/docs/quick-start-guide/){: .btn .btn--success .btn--large}
&ensp; [Tutorials](/docs/videos/){: .btn .btn--success .btn--large}
&ensp; [Readings](/docs/posts/){: .btn .btn--success .btn--large}
&ensp; [Shop](https://shop.artisan.plus/){: .btn .btn--success .btn--large}{:target="_blank"}
<BR>
<BR>'
gallery1:
  - url: /assets/images/testimonial-paolo.png
    image_path: /assets/images/testimonial-paolo.png
    alt: "testimonial paolo"
gallery2:
  - url: /assets/images/testimonial-elvio.png
    image_path: /assets/images/testimonial-elvio.png
    alt: "testimonial elvio"
  - url: /assets/images/testimonial-espinoza.png
    image_path: /assets/images/testimonial-espinoza.png
    alt: "testimonial espinoza"
gallery3:
  - url: /assets/images/testimonial-peritus.png
    image_path: /assets/images/testimonial-peritus.png
    alt: "testimonial peritus"
  - url: /assets/images/testimonial-brian.png
    image_path: /assets/images/testimonial-brian.png
    alt: "testimonial brian"
gallery4:
  - url: /assets/images/testimonial-stephane.png
    image_path: /assets/images/testimonial-stephane.png
    alt: "testimonial stephane"
gallery5:
  - url: /assets/images/testimonial-dan.png
    image_path: /assets/images/testimonial-dan.png
    alt: "testimonial dan"
---


{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include gallery id="gallery1" %}
{% include gallery id="gallery2" %}
{% include gallery id="gallery5" %}
{% include gallery id="gallery3" %}
{% include gallery id="gallery4" %}

<a rel="me" href="https://masto.ai/@artisan"></a>