---
layout: splash
permalink: /
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/teaser.jpg
  show_overlay_title: false
  caption: #'doubleshot'
excerpt: 'v2.4.4{::nomarkdown}<iframe style="display: inline-block;"  frameborder="0" scrolling="0" width="60px" height="120px"></iframe>{:/nomarkdown}'
feature_row:
  - image_path: /assets/images/sliders.png
    alt: "customizable"
    title: "Logging + Control"
    excerpt: "Log and control your roast using sliders, alarms, and PID"
    url: "/about/#notable-features"
    btn_label: "Learn More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/onebean.png
    alt: "open"
    title: "Open Platform"
    excerpt: "60+ Machines, 50+ Devices, 30+ Languages, 4 Operating Systems"
    url: "/about/#notable-features"
    btn_label: "Learn More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/wheel.png
    alt: "100% free"
    title: "100% Free"
    excerpt: "Help keep Artisan free for personal and commercial use by [sending a donation](/donate/)" 
    url: "/about/#supporters"
    btn_label: "Learn More"
    btn_class: "btn--inverse"
intro:
  - excerpt: 'NEW: [artisan.plus](https://artisan.plus) inventory management integration
  <BR><BR>[Donate](/donate/){: .btn .btn--success .btn--large} &emsp; [Install Now](https://github.com/artisan-roaster-scope/artisan/releases/latest){: .btn .btn--success .btn--large}{:target="_blank"} &emsp; [Quick Start Guide](/docs/quick-start-guide/){: .btn .btn--success .btn--large}
&emsp; [Blog](https://artisan-roasterscope.blogspot.com/){: .btn .btn--success .btn--large}{:target="_blank"}
&emsp; [Shop](https://shop.artisan.plus/){: .btn .btn--success .btn--large}{:target="_blank"}
<BR>
<BR>
[All Releases](https://github.com/artisan-roaster-scope/artisan/releases){:target="_blank"} &emsp; [Version History](https://github.com/artisan-roaster-scope/artisan#version_history){:target="_blank"}'
featurerequest:
  - excerpt: '[Request a Feature](https://github.com/artisan-roaster-scope/artisan/issues){: .btn .btn--success .btn--large}{:target="_blank"}'
share: true
gallery1:
  - url: /assets/images/testimonial-paolo.png
    image_path: /assets/images/testimonial-paolo.png
    alt: "testimonial paolo"
gallery2:
  - url: /assets/images/testimonial-elvio.png
    image_path: /assets/images/testimonial-elvio.png
    alt: "testimonial elvio"
  - url: /assets/images/testimonial-espinoza.png
    image_path: /assets/images/testimonial-espinoza.png
    alt: "testimonial espinoza"
gallery3:
  - url: /assets/images/testimonial-peritus.png
    image_path: /assets/images/testimonial-peritus.png
    alt: "testimonial peritus"
  - url: /assets/images/testimonial-brian.png
    image_path: /assets/images/testimonial-brian.png
    alt: "testimonial brian"
gallery4:
  - url: /assets/images/testimonial-stephane.png
    image_path: /assets/images/testimonial-stephane.png
    alt: "testimonial stephane"
---

{% include feature_row id="intro" type="center" %}

### Posts

<!-- BLOG-POST-LIST:START -->
<!-- BLOG-POST-LIST:END -->

{% include feature_row %}

{% include feature_row id="featurerequest" type="center" %}

{% include gallery id="gallery1" %}
{% include gallery id="gallery2" %}
{% include gallery id="gallery3" %}
{% include gallery id="gallery4" %}
