<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>alog</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>artisanProfile.icns</string>
			<key>CFBundleTypeName</key>
			<string>Artisan Profile</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>alrm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>artisanAlarms.icns</string>
			<key>CFBundleTypeName</key>
			<string>Artisan Alarms</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>AlarmConfigurations</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>apal</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>artisanPalettes.icns</string>
			<key>CFBundleTypeName</key>
			<string>Artisan Palettes</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PaletteConfigurations</string>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Artisan</string>
	<key>CFBundleIconFile</key>
	<string>artisan.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Artisan</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>PyMainFileNames</key>
	<array>
		<string>__boot__</string>
	</array>
	<key>PyOptions</key>
	<dict>
		<key>alias</key>
		<false/>
		<key>argv_emulation</key>
		<false/>
		<key>emulate_shell_environment</key>
		<false/>
		<key>no_chdir</key>
		<false/>
		<key>optimize</key>
		<integer>2</integer>
		<key>prefer_ppc</key>
		<false/>
		<key>site_packages</key>
		<true/>
		<key>use_pythonpath</key>
		<false/>
	</dict>
	<key>PyResourcePackages</key>
	<array>
	</array>
	<key>PyRuntimeLocations</key>
	<array>
		<string>@executable_path/../Frameworks/Python.framework/Versions/2.7/Python</string>
	</array>
	<key>PythonInfoDict</key>
	<dict>
		<key>PythonExecutable</key>
		<string>/Library/Frameworks/Python.framework/Versions/2.7/Resources/Python.app/Contents/MacOS/Python</string>
		<key>PythonLongVersion</key>
		<string>2.7.3 (v2.7.3:70274d53c1dd, Apr  9 2012, 20:52:43) 
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]</string>
		<key>PythonShortVersion</key>
		<string>2.7</string>
		<key>py2app</key>
		<dict>
			<key>alias</key>
			<false/>
			<key>template</key>
			<string>app</string>
			<key>version</key>
			<string>0.8</string>
		</dict>
	</dict>
</dict>
</plist>
