Source: artisan
Section: unknown
Priority: extra
Maintainer: Lukas Kolbe <lukas@einfachkaffee.de>
Build-Depends: debhelper (>= 7.0.50~), python-support, python (>=2.6)
Standards-Version: 3.8.4
Homepage: http://code.google.com/p/artisan
Vcs-Browser: http://code.google.com/p/artisan/source/browse/

Package: artisan
Architecture: all
Depends: ${python:Depends}, python-qt4, python-numpy, python-matplotlib, python-scipy
Description: Visual scope for coffee roasters
 This program or software helps coffee roasters record, analyze, and control
 roast profiles. With the help of a thermocouple data logger, or a
 proportional–integral–derivative controller (PID controller), this software
 offers roasting metrics to help make decisions that influence the final coffee
 flavor. 

