Source: artisan
Package: artisan
Version: _VERSION_
Section: misc
Depends: libc6 (>= 2.35)
Priority: extra
Architecture: x86_64
Installed-Size: 305144
Maintainer: Marko Luther <marko.luther@gmx.net>
Homepage: https://github.com/artisan-roaster-scope/artisan
Description: Visual Scope for Coffee Roasters
 Artisan helps coffee roasters record, analyze, and control
 roast profiles. With the help of a thermocouple data logger, or a
 proportional–integral–derivative controller (PID controller), this software
 offers roasting metrics to help make decisions that influence the final coffee
 flavor.
