<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Artisan</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>alog</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>artisanProfile.icns</string>
			<key>CFBundleTypeName</key>
			<string>Artisan Profile</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>alrm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>artisanAlarms.icns</string>
			<key>CFBundleTypeName</key>
			<string>Artisan Alarms</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>AlarmConfigurations</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>apal</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>artisanPalettes.icns</string>
			<key>CFBundleTypeName</key>
			<string>Artisan Palettes</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PaletteConfigurations</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aset</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>artisanSettings.icns</string>
			<key>CFBundleTypeName</key>
			<string>Artisan Settings</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SettingsDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>artisanWheel.icns</string>
			<key>CFBundleTypeName</key>
			<string>Artisan Wheel</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>WheelConfigurations</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>athm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>artisanTheme.icns</string>
			<key>CFBundleTypeName</key>
			<string>Artisan Theme</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>ThemeConfigurations</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Artisan</string>
	<key>CFBundleGetInfoString</key>
	<string>Artisan, Roast Logger</string>
	<key>CFBundleIconFile</key>
	<string>artisan.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.artisan-scope.artisan</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Artisan</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.6.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>artisan</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>Artisan 2.6.1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSArchitecturePriority</key>
	<array>
		<string>x86_64</string>
	</array>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>LSMultipleInstancesProhibited</key>
	<string>false</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Artisan wants to access bluetooth</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Artisan wants to access bluetooth</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>Artisan wants to access the Desktop folder</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Artisan wants to access the Documents folder</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>Artisan wants to access the Downloads folder</string>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>Artisan wants to access files from a provider</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>GNU General Public License (GPL)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>Artisan wants to access network volumes</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>Artisan wants to access removable volumes</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
