# packages for Windows platform
#
######
# the following commented package versions are read by appveyor.
#
# pyinstaller==5.6.2 #5.7.0 #5.6.2  #built during the appveyor ci process
# libusb==1.2.6.0     #downloaded during the appveyor ci process
#
######
# platform specifics
#
pywin32==305 #304
pyinstaller-versionfile==2.0.0 #2.1.1 #2.0.0
#
######
# packages that differ per platform:
#
gevent==22.10.2 #22.10.1 # 21.12.0 # 1.5.0 is not compatible with Python 3.8
gevent-websocket==0.10.1
yoctopuce==1.10.52382 #1.10.52094
numpy==1.24.1 #1.23.5
scipy==1.10.0 #1.9.3 # depends on numpy thus we have to put it after numpy
matplotlib==3.6.3 #3.6.2 # 3.4.1 requires pyinstaller > 4.2 # currently pyinstaller up to 4.0 is not compatible with MPL 3.3.x
wquantiles==0.6 # 0.5 depends on numpy thus we have to put it after numpy
colorspacious==1.1.2 # depends on numpy thus we have to put it after numpy
PyQt6==6.4.1 #6.4.0
PyQt6-WebEngine==6.4.0 #6.3.1
PyQt6-Qt6==6.4.0  #revert from 6.4.0 installed by PyQt6 to mitigate Qt scaling changes
openpyxl==3.0.10 #3.0.9
keyring==23.13.1 #23.9.3 # builds with 19.3.0 and 20.0.0 fail with py2app/pyinstaller
lxml==4.9.2 #4.7.1
prettytable==3.6.0 #3.5.0 # >1.0.0 fail to be packed by py2app, but a monkey patch in main.py helps
