######
# platform specifics:
#
appnope==0.1.2
pyobjc-core==7.3 # 7.1
pyobjc-framework-Cocoa==7.3 # 7.1
py2app==0.23 # we stay on 0.23 due to our darkmode patch which needs to be redone for later versions like 0.24 to avoid the patch to be overwritten
# NOTE: py2app is installed again for builds from custom wheel via .ci/install-osx.sh to allow for dark mode support
darkdetect==0.3.1 # 0.3.0 # detect if dark mode is active
#
######
# packages that differ per platform:
#
gevent==21.8.0 #21.1.2 # 1.5.0 is not compatible with Python 3.8
gevent-websocket==0.10.1
numpy==1.21.2 #1.21.1 # 1.16.2 fails on TravisCI; py2app fails with 1.16.5, 1.17.0-2
scipy==1.7.1 #1.7.0  # depends on numpy thus we have to put it after numpy	
matplotlib==3.4.3 # 3.4.2
wquantiles==0.6 # 0.5 depends on numpy thus we have to put it after numpy
colorspacious==1.1.2 # depends on numpy thus we have to put it after numpy
PyQt5==5.15.4 # 5.15.0 breaks custom event buttons. They only fire after a modal dialog has been opened. Very strange!
openpyxl==3.0.7 # 3.0.6
keyring==23.1.0 # 23.0.1 # builds using 19.3.0 and 20.0.0 fail with py2app/pyinstaller, 21.21 seems to have fixed this
prettytable==2.2.0 #2.1.0 # >1.0.0 fail to be packed, but a main.py monkey patch helps
# lxml== 4.6.3 # 4.6.2 # installed from source in .ci/install-osx.sh to make notarization happy