# ensure that the selected version is on https://www.piwheels.org/ as binary package
# for the builds Python version (3.5.3)
# ensure also that the dependency order is right (eg. gevent-websocket==0.10.1 is not on 
# pywheel and requires gevent that is then also not taken from pywheel thus gevent-
# websocket has to be requested after the pywheel version of gevent)
gevent==1.4.0
gevent-websocket==0.10.1
numpy==1.16.4
colorspacious==1.1.2 # depends on numpy thus needs to be put after
scipy==1.3.1
matplotlib==3.0.3 # 3.1.1 requires Python 3.7, stretch comes with Python 3.5.3
openpyxl==2.6.4 # openpyxl >=3.0.0 requires Python >=3.6 while TravisCI RPi runs still on 3.5.3
#PyQt 5.7.1 is preinstalled
pyinstaller==3.5
cffi==1.12.3 # current 1.12.3 is not yet on pywheels.org)
cryptography==2.7 #2.6.1 not yet on piwheels.org
keyring==19.2.0