setuptools==57.0.0 # 56.0.0
wheel==0.35.1
pyserial==3.5 # 3.4
pymodbus==2.5.2
python-snap7==1.0 # 0.11
yoctopuce==1.10.45343
Phidget22==1.7.20210504
unidecode==1.2.0 # 1.1.2
bottle==0.12.19
qrcode==6.1
requests==2.25.1
requests-file==1.5.1
pefile==2019.4.18
altgraph==0.17
macholib==1.14
pyusb==1.1.1 # 1.1.0
persist-queue==0.6.0 #0.5.1
portalocker==2.3.0
natsort==7.1.1 # 7.1.0
xlrd==2.0.1 #1.2.0
websocket-client==1.1.0	# ATTENTION: API changed for all on_ methods that got a different argument on upgrade to v1.x from previous version (0.58.0)		