gevent==20.9.0 # 1.5.0 is not compatible with Python 3.8
gevent-websocket==0.10.1
numpy==1.19.3
colorspacious==1.1.2
scipy==1.5.4
matplotlib==3.3.3 # currently pyinstaller up to 4.0 is not compatible with MPL 3.3.x
PyQt5==5.15.1 #5.14.2
openpyxl==3.0.5
#pyinstaller==4.0 # 3.5 works # v3.6 and v4.0 on Windows breaks on some machines, v3.5 has a security issue but only in --onefile mode
# NOTE: pyinstaller 3.5 is NOT compatible with Python3.8
# pyinstaller 3.6 issue: https://github.com/pyinstaller/pyinstaller/issues/4213
pywin32==228
keyring==21.5.0 #19.2.0 # builds with 19.3.0 and 20.0.0 fail with py2app/pyinstaller
