# packages for Windows platform
#
######
# the following commented package versions are read by appveyor.
#
# pyinstaller==5.4.1  #built during the appveyor ci process
# libusb==1.2.6.0     #downloaded during the appveyor ci process
#
######
# platform specifics
#
pywin32==304 #303
pyinstaller-versionfile==2.0.0
#
######
# packages that differ per platform:
#
gevent==22.10.2# 21.12.0 # 1.5.0 is not compatible with Python 3.8
gevent-websocket==0.10.1
numpy==1.23.4 #1.23.3
scipy==1.9.2 #1.9.1 # depends on numpy thus we have to put it after numpy
matplotlib==3.6.2 #3.5.3 # 3.4.1 requires pyinstaller > 4.2 # currently pyinstaller up to 4.0 is not compatible with MPL 3.3.x
wquantiles==0.6 # 0.5 depends on numpy thus we have to put it after numpy
colorspacious==1.1.2 # depends on numpy thus we have to put it after numpy
PyQt6==6.4.0 #6.3.1
PyQt6-WebEngine==6.4.0 #6.3.1
openpyxl==3.0.10 #3.0.9
keyring==23.9.3 # 23.6.0 # builds with 19.3.0 and 20.0.0 fail with py2app/pyinstaller
lxml==4.9.1 #4.7.1
prettytable==3.4.1 #3.3.0 # >1.0.0 fail to be packed by py2app, but a monkey patch in main.py helps
