######
# platform specifics
#
distro==1.7.0 #1.6.0
######
# packages that differ per platform:
#
gevent==21.12.0 #21.8.0 # 1.5.0 is not compatible with Python 3.8
gevent-websocket==0.10.1
numpy==1.22.3 #1.22.2
scipy==1.8.0 #1.7.3 # 1.6.2 # depends on numpy thus we have to put it after numpy
matplotlib==3.5.1 # 3.5.0 # 3.4.1 requires pyinstaller > 4.2 # MPL 3.3.x is not compatible with pyinstaller up to 4.0
wquantiles==0.6 # 0.5 depends on numpy thus we have to put it after numpy
colorspacious==1.1.2 # depends on numpy thus we have to put it after numpy
#PyQt5==5.15.5 #5.14.2 # 5.15.0 seems not to install on Python 3.7.1
#PyQtWebEngine==5.15.5
PyQt6==6.2.3
PyQt6-WebEngine==6.2.1
openpyxl==3.0.9 # 3.0.7
pyinstaller==4.9 # 4.3 # binary build with pyinstaller 4.8 fails on setuptools==60.7.0/60.7.1
#jeepney==0.4
#cryptography==2.6.1
keyring==23.5.0 #23.4.0  # builds with 19.3.0 and 20.0.0 fail with py2app/pyinstaller
SecretStorage==3.3.1
lxml==4.7.1 #4.6.5 #4.6.4
prettytable==3.2.0 #3.0.0 # >1.0.0 fail to be packed by py2app, but a monkey patch in main.py helps
#
# NOTES:
# keyring needs the GnomeKeyring package installed for plus to remember the passwords
# via # sudo apt install gnome-keyring
