# ensure that the selected version is on https://www.piwheels.org/ as binary package
# for the builds Python version (3.6)
# ensure also that the dependency order is right (eg. gevent-websocket==0.10.1 is not on 
# pywheel and requires gevent that is then also not taken from pywheel thus gevent-
# websocket has to be requested after the pywheel version of gevent)
gevent==1.3.6
gevent-websocket==0.10.1
numpy==1.15.4
scipy==1.1.0 # older scipy to speed up installation
matplotlib==3.0.2
#PyQt 5.7 is preinstalled
pyinstaller==3.3.1