appnope==0.1.0
pyobjc-core==6.2.2 # builds on 7.0 report errors
pyobjc-framework-Cocoa==6.2.2 # builds on 7.0 report errors
py2app==0.21 # we stay on 0.21 due to our darkmode patch which needs to be redone for later versions like 0.22 to avoid the patch to be overwritten
gevent==20.9.0 # 1.5.0 is not compatible with Python 3.8
gevent-websocket==0.10.1
numpy==1.19.4 # 1.16.2 fails on TravisCI; py2app fails with 1.16.5, 1.17.0-2
colorspacious==1.1.2
scipy==1.5.4
matplotlib==3.3.3
PyQt5==5.15.2 # 5.15.0 breaks custom event buttons. They only fire after a modal dialog has been opened. Very strange!
openpyxl==3.0.5
keyring==21.5.0 # 21.4.0 #19.2.0 # builds with 19.3.0 and 20.0.0 fail with py2app/pyinstaller, 21.21 seems to have fixed this
darkdetect==0.1.1 # detect if dark mode is active
# lxml==4.6.2 # installed from source in .travis/install-osx.sh to make notarization happy