types-openpyxl==3.1.0.15
types-protobuf==4.24.0.0
types-psutil==5.9.5.16
types-pyserial==3.5.0.9
types-python-dateutil==2.8.19.14
types-PyYAML==6.0.12.11
types-requests==2.31.0.2
types-setuptools==68.0.0.3
types-urllib3==1.26.25.14
mypy==1.5.0
pyright==1.1.321
ruff>=0.0.277
pylint==2.17.5
pre-commit>=3.3.3
pytest==7.4.0
pytest-cov==4.1.0
pytest-qt==4.2.0
#pytest-xvfb==3.0.0
#PyVirtualDisplay==3.0
#pytest-asyncio==0.21.0
#pytest-bdd==6.1.1
#pytest-benchmark==4.0.0
#pytest-mock==3.11.1
hypothesis==6.82.4
coverage==7.2.7
coverage-badge==1.1.0
