PyQt5==5.9.2
pyserial==3.4
numpy==1.13.3
scipy==1.0.0
matplotlib==2.0.2
pymodbus==1.4.0
unidecode==0.4.21
bottle==0.12.13
gevent==1.2.2
gevent-websocket==0.10.1
qrcode==5.3
urllib3==1.22
requests==2.18.4
yoctopuce==1.10
pefile==2017.9.3
pyinstaller==3.3.1
openpyxl==2.4.9
altgraph==0.15
macholib==1.9
python-snap7==0.9
colorspacious==1.1.0
pyusb==1.0.2
# libusb 1.0.21