######
#
# This document describes the dependencies to run and build Artisan on the following platforms
#
# macOS (11.x; Darwin 20.x)
#   Python 3.11
# Windows (10/11)
#   Python 3.11
# Linux (Ubuntu 22.04+; GCC11, Red Hat 8.4+; GCC10)
#   Python 3.11
#--
# Windows Legacy (Windows 7/8)
#   Python 3.8
# macOS Legacy (macOS 10.13; Darwin 17.x)
#   Python 3.11
#
# for RPi, ensure that the selected version is on https://www.piwheels.org/ as binary package
#
######
# the following commented package versions are read by appveyor.yml and downloaded outside of pip.
#
# pyinstaller==6.8.0; platform_system='Windows'
# libusb==1.0.26;  platform_system='Linux'
# dotenv==2.8.1;   platform_system='Linux'  # v3.0.0 not compatible with fpm  # gem installed, not pip
#
######
# packages that are required on all platforms
#
setuptools==70.0.0
wheel==0.43.0
pyserial==3.5
pymodbus==3.6.8
python-snap7==1.3; python_version < '3.10' # last Python 3.9 release
python-snap7==1.4.1; python_version >= '3.10'
Phidget22==1.19.20240513
Unidecode==1.3.8
qrcode==7.4.2
requests==2.32.3
requests-file==2.1.0
pyusb==1.2.1
persist-queue==0.8.1
portalocker==2.8.2
xlrd==2.0.1
websockets==12.0
PyYAML==6.0.1
psutil==5.9.8
typing-extensions==4.10.0; python_version < '3.8' # required for supporting Final and TypeDict on Python <3.8
protobuf==5.27.1
numpy==1.24.3; python_version < '3.9' # last Python 3.8 release
numpy==1.26.4; python_version >= '3.9'
scipy==1.10.1; python_version < '3.9' # last Python 3.8 release
scipy==1.13.1; python_version >= '3.9'
wquantiles==0.6
colorspacious==1.1.2
openpyxl==3.1.3
keyring==25.2.1
prettytable==3.10.0
lxml==5.2.2
matplotlib==3.7.3; python_version < '3.9' # last Python 3.8 release
matplotlib==3.9.0; python_version >= '3.9'
jinja2==3.1.4
aiohttp==3.9.5
aiohttp_jinja2==1.6
python-bidi==0.4.2
arabic-reshaper==3.0.0
pillow>=10.2.0
pydantic==2.7.4
babel==2.15.0
#
#
######
# packages that differ per platform
#
### yoctopuce 1.10.42060 on macOS 10.13
yoctopuce==1.10.42060; sys_platform=='darwin' and platform_release<'20.0' # last version supporting macOS 10.13
yoctopuce==2.0.61039; sys_platform!='darwin' or (sys_platform=='darwin' and platform_release>='20.0')
# last 1.x yoctopuce lib: 1.10.57762
# 2.0.59414 is no longer universal2 lacking arm64 support; 2.0.59503 should fix this
##
## Qt 5.15.x supports macOS 10.13 (Darwin 17.x) and higher as well as Windows 7/8
## Qt 6.4.x supports macOS 10.15 (Darwin 19.x) and higher as well as Windows 10/11
## Qt 6.6.x supports macOS 11 (Darwin 20.x) and higher as well as Windows 10/11
##
## Qt5 on macOS <11 and Windows 7/8
PyQt5==5.15.10; (sys_platform=='darwin' and platform_release<'20.0') or (platform_system=='Windows' and python_version<'3.9')
PyQtWebEngine==5.15.6; (sys_platform=='darwin' and platform_release<'20.0') or (platform_system=='Windows' and python_version<'3.9')
# Qt6 on macOS 11+, Windows 10/11 and Linux
PyQt6==6.7.0; (sys_platform=='darwin' and platform_release>='20.0') or (platform_system=='Windows' and python_version>'3.10') or (platform_system=='Linux' and platform_machine!='aarch64')
PyQt6-WebEngine==6.7.0; (sys_platform=='darwin' and platform_release>='20.0') or (platform_system=='Windows' and python_version>'3.10') or (platform_system=='Linux' and platform_machine!='aarch64')
###
pyinstaller==6.8.0; platform_system=='Linux' # on Windows pyinstaller is separately installed (see above)
###
### Qt build tools not part of PyQt but required by build-derived
qt5-tools==5.15.2.1.3; (platform_system=='Windows' and python_version<'3.9')
qt6-tools==6.5.0.1.3; (sys_platform=='darwin' and platform_release>='20.0') or (platform_system=='Windows' and python_version>'3.10') or (platform_system=='Linux' and platform_machine!='aarch64')
###
########
### macOS specific packages
###
appnope==0.1.4; sys_platform=='darwin'
pyobjc-core==10.3; sys_platform=='darwin'
pyobjc-framework-Cocoa==10.3; sys_platform=='darwin'
py2app==0.28.8; sys_platform=='darwin'
#py-cpuinfo==9.0.0; sys_platform=='darwin' # used for proper CPU arch detection running under Rosetta2
darkdetect==0.8.0; sys_platform=='darwin' and platform_release<'20.0' # detect if dark mode is active (only used by macOS legacy builds)
###
########
### Linux specific packages
###
distro==1.9.0; platform_system=='Linux'
SecretStorage==3.3.3; platform_system=='Linux'
### NOTES:
### keyring on Linux needs the GnomeKeyring package installed for plus to remember the passwords
### via # sudo apt install gnome-keyring
###
########
### Windows specific packages
###
build==1.2.1; platform_system=='Windows'  # required to build pyinstaller bootloader
pywin32==306; platform_system=='Windows'
pyinstaller-versionfile==2.1.1; platform_system=='Windows'
libusb-package==1.0.26.1; platform_system=='Windows'
