# packages for RPi Raspbian Bullseye
#
# ensure that the selected version is on https://www.piwheels.org/ as binary package
# for the builds Python version 3.9.2 / Qt/PyQt 5.15.2
# ensure also that the dependency order is right (eg. gevent-websocket==0.10.1 is not on
# pywheel and requires gevent that is then also not taken from pywheel thus gevent-
# websocket has to be requested after the pywheel version of gevent)
#
######
# platform specifics
#
distro==1.7.0 #1.6.0
# and SecretStorage (see below)
#
######
# packages that differ per platform:
#
gevent==22.10.2 #21.12.0
gevent-websocket==0.10.1
numpy==1.23.5 #1.23.4
scipy==1.8.1 #1.8.0 # depends on numpy thus needs to be put after
matplotlib==3.6.2 #3.5.3 requires pyinstaller > 4.2
wquantiles==0.6 # 0.5 depends on numpy thus we have to put it after numpy
colorspacious==1.1.2 # depends on numpy thus needs to be put after
openpyxl==3.0.10 #3.0.9
#PyQt 5.15.2 is preinstalled
#PyQtWebEngine==5.15.5 # not available for 32bit platforms
# what about
pyinstaller==5.6.2 #5.4.1 #4.9
cffi==1.15.0
cryptography==3.4.8
keyring==23.11.0 #23.9.3 # versions beyond 23.0.1 require importlib_metadata >=v3.6 (RPi buster comes with v2.0)
SecretStorage==3.3.3 #3.3.1
lxml==4.9.1 #4.7.1
prettytable==0.7.2 # >1.0.0 fail to be packed and the monkey patch in main.py does not help here due the old python version
#
# NOTES:
# keyring needs the GnomeKeyring package installed for plus to remember the passwords
# via # sudo apt install gnome-keyring
