# packages for RPi Raspbian Stretch
#
# ensure that the selected version is on https://www.piwheels.org/ as binary package
# for the builds Python version (3.5.3)
# ensure also that the dependency order is right (eg. gevent-websocket==0.10.1 is not on 
# pywheel and requires gevent that is then also not taken from pywheel thus gevent-
# websocket has to be requested after the pywheel version of gevent)
#
######
# platform specifics
#
distro==1.5.0
#
######
# packages that differ per platform:
#
gevent==1.5.0
gevent-websocket==0.10.1
numpy==1.21.5 #1.18.4 conatians buffer overflow vulnerability
scipy==1.3.3 # depends on numpy thus needs to be put after
matplotlib==3.0.3 # 3.1.x requires Python 3.7, stretch comes with Python 3.5.3 only
wquantiles==0.5 # depends on numpy thus we have to put it after numpy
colorspacious==1.1.2 # depends on numpy thus needs to be put after
openpyxl==2.6.4 # openpyxl >=3.0.0 requires Python >=3.6 while TravisCI RPi runs still on 3.5.3
#PyQt 5.7.1 is preinstalled
pyinstaller==3.3.1 # 3.5 seems to hang!?
cffi==1.12.3 # 1.13.2 fails, 1.12.3 is needed by crypto v2.5
cryptography==3.2.2 # 3.2.1 is the last version supporting Python 3.5 # 2.5 worked but has a security issue # 2.8 fails with libcrypto.so.1.1: version `OPENSSL_1_1_0j' not found, required by cryptography.hazmat.bindings._openssl.so
keyring==19.2.0  # builds with 19.3.0 and 20.0.0 fail with py2app/pyinstaller; Python 3.5 support was dropped
SecretStorage==3.2.0 # 3.3.0 not available on piwheels for Stretch
lxml==4.7.1 #4.6.5 #4.6.4
prettytable==0.7.2 # >1.0.0 fail to be packed and the monkey patch in main.py does not help here due the old python version
#
# NOTES:
# keyring needs the GnomeKeyring package installed for plus to remember the passwords
# via # sudo apt install gnome-keyring