######
# platform specifics
#
distro==1.6.0 #1.5.0
######
# packages that differ per platform:
#
gevent==21.8.0 #21.1.2 # 1.5.0 is not compatible with Python 3.8
gevent-websocket==0.10.1
numpy==1.21.2 #1.21.1 # 1.20.2
scipy==1.7.1 #1.7.0 # 1.6.2 # depends on numpy thus we have to put it after numpy
matplotlib==3.4.3 # 3.4.2 # 3.4.1 requires pyinstaller > 4.2 # MPL 3.3.x is not compatible with pyinstaller up to 4.0
wquantiles==0.6 # 0.5 depends on numpy thus we have to put it after numpy
colorspacious==1.1.2 # depends on numpy thus we have to put it after numpy
PyQt5==5.15.3 #5.14.2 # 5.15.0 seems not to install on Python 3.7.1
openpyxl==3.0.7 # 3.0.6
pyinstaller==4.3 # 3.6
#jeepney==0.4
#cryptography==2.6.1
keyring==23.1.0 #23.0.1 # 21.5.0  # builds with 19.3.0 and 20.0.0 fail with py2app/pyinstaller
SecretStorage==3.3.1
lxml==4.6.3
prettytable==2.2.0 #2.1.0 # >1.0.0 fail to be packed by py2app, but a monkey patch in main.py helps
#
# NOTES:
# keyring needs the GnomeKeyring package installed for plus to remember the passwords
# via # sudo apt install gnome-keyring