types-openpyxl>=3.1.5.20250306
types-Pillow>=10.2.0.20240822
types-protobuf>=5.29.1.20250403
types-psutil>=7.0.0.20250401
types-pyserial>=3.5.0.20250326
types-python-dateutil==2.9.0.20241206
types-pytz>=2025.2.0.20250326
types-pyyaml>=6.0.12.20250402
types-requests>=2.32.0.20250328
types-setuptools>=79.0.0.20250422
types-urllib3>=1.26.25.14
types-docutils>=0.21.0.20241128
lxml-stubs>=0.5.1
mypy==1.15.0
pyright==1.1.400
ruff>=0.11.7
pylint==3.3.6
pre-commit>=4.2.0
pytest>=8.3.5
pytest-cov==6.1.1
#pytest-qt==4.4.0
#pytest-xvfb==3.0.0
#PyVirtualDisplay==3.0
#pytest-asyncio==0.23.3
#pytest-bdd==6.1.1
#pytest-benchmark==4.0.0
#pytest-mock==3.11.1
hypothesis>=6.131.7
coverage>=7.8.0
coverage-badge==1.1.2
codespell==2.4.1
# the following 2 packages are not installed along aiohttp on Python3.12 and make mypy complain
async_timeout==4.0.3; python_version >= '3.12'
cycler==0.12.1; python_version >= '3.12'
