name: Pylint

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug
      tags:
        description: 'Test scenario tags'
        required: false
        type: boolean
      environment:
        description: 'Environment to run tests against'
        type: environment
        required: true
jobs:
  build:
    runs-on: ubuntu-latest
#    if: github.ref == 'refs/heads/master'

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python 3.14
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'
        cache: 'pip' # caching pip dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade -r src/requirements-dev.txt
        pip install -r src/requirements.txt
    - name: Analysing the code with pylint
#      env:
#        REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        pylint --disable=C,R,E0401,E0611 --extension-pkg-allow-list=PyQt6 --load-plugins=pylint.extensions.no_self_use,pylint.extensions.private_import src/plus
        pylint --disable=C,R,E0401,E0611 --extension-pkg-allow-list=PyQt6 --load-plugins=pylint.extensions.no_self_use,pylint.extensions.private_import src/artisanlib
#    - name: Set up reviewdog
#      run: |
#        mkdir -p "$HOME/bin"
#        curl -sfL \
#          https://github.com/reviewdog/reviewdog/raw/master/install.sh | \
#            sh -s -- -b "$HOME/bin"
#        echo "$HOME/bin" >> $GITHUB_PATH
#    - name: Analysing the code with pylint
#      env:
#        REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#      run: |
#        set -o pipefail
#        pylint --disable=C --disable=R --extension-pkg-allow-list=PyQt6 --load-plugins=pylint.extensions.no_self_use src/plus | reviewdog -efm="%f:%l:%c: %m" -reporter=github-check
#        pylint --disable=C --disable=R --extension-pkg-allow-list=PyQt6 --load-plugins=pylint.extensions.no_self_use src/artisanlib | reviewdog -efm="%f:%l:%c: %m" -reporter=github-check
