[Desktop Entry]
Encoding=UTF-8
Version=0.6
Type=Application
Name=Artisan
GenericName=Visual Scope for Coffee Roasters
Comment=Visualizes the coffee roasting process
Exec=artisan %U
TryExec=artisan
Icon=artisan.png
Terminal=false
Categories=Utility;Chart;
MimeType=application/x-artisan-alog;application/x-artisan-alrm;application/x-artisan-apal;

